<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
  {%- assign page_paths = site.header_pages -%}
  <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navMobileContent"
    aria-controls="navMobileContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navMobileContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-decoration-none"" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none" href="{{ '/' | relative_url }}">Blog</a>
      </li>
      {%- for path in page_paths -%}
      {%- assign my_page = site.pages | where: "path", path | first -%}
      {%- if my_page.title -%}
      <li class="nav-item">
        <a class="nav-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
      </li>
      {%- endif -%}
      {% endfor -%}
    </ul>
  </div>
  <a class="navbar-brand ms-2" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
</nav>
